#shop-items {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0 auto;
  gap: 1rem;
  flex-direction: row;

  > figure {
    max-width: calc(min(600px, 70vw));

    .react-multi-carousel-item {
      list-style: none;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
  }
}

.pricing__card {
  > * {
    margin: 1rem;
  }
}

.pricing__card__image {
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.pricing__card__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: teal;
  padding: 1rem .5rem;
  border-top: none;
}

.pricing__card__price {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pricing__card__features {
  margin-bottom: 20px;
  padding: 0;

  font-weight: bold;
  li {
    background: var(--page-accent-color--base);
    list-style: none;
    margin: 10px 0;
    color: wheat;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem;
  }
}

.pricing__card__button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  transition: background-color 0.3s;
}