#page__pricing {
  h1 + ul {
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: .7;
    li {
      margin: 2rem;
    }
  }
  .email {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .pricing__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
  }

  .pricing__card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;

    .pricing__card__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .pricing__card__price {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .pricing__card__features {
      margin-bottom: 20px;

      li {
        font-size: 16px;
        margin: 10px 0;
      }
    }

    .pricing__card__button {
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 20px;
      transition: background-color 0.3s;
    }
  }
}