#page__fantasyTitleGenerator {
  .dev-only {
    display: none;
  }
  form {
    display: inline-flex;
  }
  .input-wrapper {
    display: inline-flex;
  }
  output {
    strong {
      font-size: 1.5rem;
      outline: thick solid wheat;
      padding: .5rem;
    }
  }
}