.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  > * {
    border: thick solid rgba(0, 0, 0, 0.1);
  }
  #main-nav {
    margin: 0;
    ul {
      margin: 0;
      padding: 0;
    }
  }
  @media screen and (max-width: 768px) {
    figure {
      margin: 0;
    }
  }
}